
{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8"> 
        <h1>Bocchi | Demo</h1>
        <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro pariatur officia odio animi, voluptatibus quam et quidem eius voluptatem, odit dolorem accusantium sint sit est consectetur quasi, illo fuga inventore.</p>
    </div>
    <div class="col-4">
        <img class="img-thumbnail"style="width:100%;" src="assets/img/bocchi.jpg" alt="">
    </div>
</div>

{{> footer}}
